.header {
  width: 100%;
  background-color: var(--color-black-1);
}

.headerContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mainLogoStyle {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
}

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.favouritesContainer {
  width: 32px;
  height: 32px;
  background-color: rgba(var(--color-white-rgb), 0.12);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountOuterWrapper {
  width: 40px;
  height: 40px;
  background-color: rgba(var(--color-white-rgb), 0.08);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountInnerWrapper {
  width: 32px;
  height: 32px;
  background-color: rgba(var(--color-white-rgb), 0.36);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
