.container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  &_big {
    width: 125px;
    height: 125px;
  }
  &_small {
    width: 32px;
    height: 32px;
  }
}
